body {
    font-size: 2vh;
    overflow: hidden;
    background-color: black;
    color: black;
}

.slide {
    position: absolute;
    height: 100vh;
    width: 177vh;
    z-index: 0;
    background-color: white;
}

.slide:target, #slide-0 {
    z-index: 1;
}

.slide .content {
    padding-top: 3.5vh;
    padding-bottom: 2vh;
    padding-left: 6.2vh;
    padding-right: 6.2vh;
}

.cover .logo {
    text-align: center;
    font-size: 5vh;
    margin-top: 30vh;
}

.cover .info {
    margin-top:30vh;
    margin-left: 5.3vh;
}

.bye {
    padding-top: 25vh;
}

.bye .info {
    margin-top: 40vh;
    font-size: 1.9vh;
    width: fit-content;
}

/* .bye a {
    color: currentColor;
} */

.bye .info .list-group-item {
    background-color: inherit;
    color: inherit;
    padding: 0vh;
    border: none;
}

.bye .icon {
    margin-right: 2vh;
    font-size: 2.2vh;
    font-weight: bold;
}

.navigation {
    position: absolute;
    bottom: 15vh;
    width: 177vh;
    padding-left: 0%;
    padding-right: 0%;
}


h1 {
    font-size: 5vh;
    margin-bottom: 2vh;
}

h2 {
    font-size: 3vh;
    margin-bottom: 4vh;
}

h3 {
    margin-top: 4vh;
    font-size: 2.6vh;
}

h4 {
    font-size: 2.3vh;
}

h5 {
    font-size: 2vh;
}

h6 {
    font-size: 2vh;
}


/* bootstrap w-xx classes are marked !important, so it's
 * not possible to overwrite them here. let's use
 * separate ones and transform w-xx to these during
 * generation process
 */
.width-25 {
    width: 14.1%;
}

.width-33 {
    width: 18.6%;
}

.width-50 {
    width: 28.2%;
}

.width-75 {
    width: 42.3%;
}

.width-100 {
    width: 56.4%;
}

.width-150 {
    width: 84.6%;
}

.width-200 {
    width: 112.8%;
}

/* position up to three images next to each other */
img {
    margin-right: 6%;
}

h1 img {
    margin-right: 0%;
}

.slide-footer {
    position: absolute;
    bottom: 0vh;
    width: 177vh;
    padding-bottom: 1.5vh;
    padding-left: 8.9vh;
    padding-right: 8.9vh;
    color: currentColor;
    font-size: 1.35vh;
}
