.slide {
    background-color: rgb(52, 105, 165);
    color: white;
}

a {
    color: rgba(245, 245, 245, 0.705);
}
a:hover {
    color: currentColor;
    border-color: currentColor;
    border-bottom: 0.01vh dotted;
    text-decoration: none;
}

.cover .logo {
    padding-left: 2vh;
    padding-right: 2vh;
    border-left: 0.2vh dotted;
    border-right: 0.2vh dotted;
    border-radius: 1.2vh;
    border-color: currentColor;
}

.bye .info {
    text-align: right;
    margin-left: 120vh;
    margin-top: 58vh;
}

.bye .info .list-group-item {
    padding-left: 2vh;
    padding-right: 2vh;
    border-left: 0.2vh dotted;
    border-right: 0.2vh dotted;
    border-radius: 1.2vh;
    border-color: transparent;
}

.bye .info .list-group-item:hover {
    border-color: currentColor;
}

pre[class*="language-"] {
    padding: 0.8vh;
    padding-left: 3vh;
    background-color: rgb(54, 72, 92);
}

code[class*="language-"] {
    background-color: inherit;
    color: white;
}

code {
    background-color: inherit;
    color: rgb(185, 226, 245);
}