<div class="d-flex">
    <div class="d-xl-block d-lg-block d-md-block d-none">
        <%= partial "layouts/toc", locals: {classes: [:sidebar]} %>
    </div>

    <div>
        <%= partial "layouts/header" %>

        <div class="row d-xl-none d-lg-none d-md-none ">
            <div class="col">
                <%= partial "layouts/toc", locals: {classes: [:topbar]} %>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <%= body %>
            </div>
        </div>
    </div>

    <div class="v-spacer-2 d-xl-block d-lg-block d-md-block d-sm-none d-xs-none"></div>
    <div class="v-spacer-2 d-xl-block d-lg-block d-md-none d-sm-none d-xs-none"></div>
    <div class="v-spacer-3 d-xl-block d-lg-none d-md-none d-sm-none d-xs-none"></div>
</div>
