<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Use the title from a page's frontmatter if it has one -->
        <title>
            <%
                subtitle = " / #{yield_content :subtitle}"
            %>
            <%= yield_content :title %><%= subtitle unless subtitle == " / " %>
        </title>

        <%= stylesheet_link_tag "rogue" %>
        <%= stylesheet_link_tag "site" %>
        <% custom_css.each do |css| %>
            <%= stylesheet_link_tag css %>
        <% end %>

        <%= javascript_include_tag "main" %>
        <% custom_js.each do |js| %>
            <%= javascript_include_tag js %>
        <% end %>

        <%= yield_content :head %>
    </head>

    <body>
        <%= partial "layouts/navbar" %>

        <% if toc? %>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <%= partial "layouts/content_with_toc", locals: {body: body} %>
                </div>
            </div>
        <% else %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <%= partial "layouts/content", locals: {body: body} %>
                </div>
            </div>
        <% end %>

            <div class="row mt-5 pb-4">
                <div class="col text-right small border-top">
                    <%= footer_text %>
                    <%= yield_content(:footer) %>
                </div>
            </div>
        </div>
    </body>
</html>
