<div class="row">
    <div class="col-sm-7 mb-5">
        <span class="page-title"><%= yield_content :title %></span>
        <br>
        <span class="page-sub-title"><%= yield_content :subtitle %></span>
    </div>

    <div class="col-sm-5">

        <div class="row">
            <div class="col text-right page-category mb-2">
                <%= yield_content :category %>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col">
            <table class="table table-sm">
                <tbody>
                    <%= yield_content :page_infos %>
                </tbody>
            </table>
            </div>
        </div>

    </div>
</div>
