<%
    ##
    # requires locals:
    #
    #   * :name
    #   * :value
    #
%>

<tr>
    <th><%= name %></th>
    <td class="text-right">
        <% if value.is_a? Enumerable %>
            <ul class="list-unstyled m-0">
                <li>
                    <%= value.join("</li><li>") %>
                </li>
            </ul>
        <% else %>
            <%= value %>
        <% end %>
    </td>
</tr>
