<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>"><%= navbar_brand || yield_content(:title) %></a>
    <% if navbar_links.size > 0 %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="mr-auto navbar-nav">
                <% navbar_links.each do |name, link| %>
                    <li class=" nav-item"><a class="nav-link" data-method="get" href="<%= link.gsub(/\.md$/, ".html") %>"><%= name %></a></li>
                <% end %>
            </ul>
        </div>
    <% end %>
</nav>
