<%
    # default layout

    text_for title: current_page.data.title || "untitled"
    text_for subtitle: current_page.data.subtitle
    text_for footer: Date.today.strftime("%F")

    page_info("Date": Date.today)
%>

<%= partial "layouts/document", locals: {body: yield} %>
