@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "./bootstrap-icons.css";

.page-title {
  font-size: 3rem;
}

.page-sub-title {
  font-size: 2rem;
}

.page-category {
  font-size: 1.5rem;
}

$header-siblings-margin: 1rem;

@for $i from 6 through 1 {
  h#{$i} {
    margin-top: #{(8 - $i) * 0.5}rem;

    + h#{$i + 1}, + h#{$i} {
      margin-top: 0.75rem;
    }
  }
}

h1 {
  border-bottom: 1px solid rgb(187, 187, 187);
}

h1:nth-child(1) {
  margin-top: 0;
}

pre.highlight {
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.toc {
  padding-top: 1rem;
  white-space: nowrap;

  &.sidebar {
    position: sticky;
    top: 4rem;
    margin-right: 5rem;
    width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    font-weight: bold;
  }

  @for $i from 1 through 6 {
    .toc-h#{$i} {
      font-size: 0.8rem;
      padding-left: #{($i - 1) * 0.5}rem;
    }
  }
}


.d-flex {
  @for $i from 1 through 5 {
    .v-spacer-#{$i} {
      margin-left: #{$i * 2}rem;
    }
  }
}

